 <% if @service.photos.attached? %>
 <div id="carouselExampleControls" class="carousel slide mb-3" data-ride="carousel">
  <div class="carousel-inner">
    <% @service.photos.each_with_index do |photo, index| %>
    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "First slide" %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>
