<h1>Services#index</h1>

<% @services.each do |service| %>
  <%= link_to neighbourhood_service_path(@neighbourhood, service) do %>
    <%= service.name %>
  <% end %>
<% end %>


<%= link_to new_neighbourhood_service_path do %>
  <button type="button" class="btn btn-success">Add your service!</button>
<% end %>
