<button class="btn-category"><i class="fas fa-utensils" style="font-size: 30px"></i><p>Restaurants</p></button>
<button class="btn-category-red"><i class="fas fa-store" style="font-size: 30px"></i><p>Retail</p></button>
<button class="btn-category-red"><i class="fas fa-landmark" style="font-size: 30px"></i><p>Landmarks</p></button>


<header class="scroll">
  <nav>
    <button class="btn-category"><i class="fas fa-utensils" style="font-size: 30px"></i><p>Restaurants</p></button>
    <button class="btn-category-red"><i class="fas fa-store" style="font-size: 30px"></i><p>Retail</p></button>
    <button class="btn-category-red"><i class="fas fa-landmark" style="font-size: 30px"></i><p>Landmarks</p></button>
    <button class="btn-category"><i class="fas fa-utensils" style="font-size: 30px"></i><p>Restaurants</p></button>
    <button class="btn-category-red"><i class="fas fa-store" style="font-size: 30px"></i><p>Retail</p></button>
    <button class="btn-category-red"><i class="fas fa-landmark" style="font-size: 30px"></i><p>Landmarks</p></button>
  </nav>
</header>
