  <footer>
    <div>
      <ul ul class="list-inline">
        <%#= link_to neighbourhood_path(@neighbourhood) do %>
          <li><i class="fal fa-search"></i></li>
        <%# end %>

        <%#= link_to dashboard_path do %>
          <li><i class="fal fa-home"></i></li>
        <%# end %>

        <li><i class='far fa-heart favourite'></i></li>

        <%#= link_to  edit_user_registration_path do %>
          <li><i class="fal fa-user"></i></li>
        <%# end %>

        <li><i class="far fa-address-card"></i></li>
      </ul>
    </div>
  </footer>
