    <div class="footer" data-spy="affix">
      <ul ul class="list-inline d-flex align-items-center">
        <%#= link_to neighbourhood_path(@neighbourhood) do %>
          <li><%= icon('fa', 'search') %></li>


        <%# end %>

        <%#= link_to news_index_path do %>
          <li><i class="far fa-newspaper"></i></li>
        <%# end %>

        <%#= link_to favourites_path do %>
        <li><i class='far fa-heart favourite'></i></li>
        <%# end %>


        <%#= link_to edit_user_registration_path do %>
        <%= icon('far', 'user') %>
        <%# end %>


        <%#= link_to neighbourhood_posts_path(@neighbourhood, @posts) do %>
        <li><i class="far fa-address-card"></i></li>
        <%# end %>
      </ul>
    </div>
