  <footer>
    <div>
      <ul ul class="list-inline">
        <%= link_to neighbourhood_path(@neighbourhood) do %>
        <li><i class="fa fa-map-marker-alt"></i></li>
        <% end %>
        <li><i class="fa fa-home"></i></li>
        <li><i class="fa fa-user"></i></li>
        <li><i class="far fa-address-card"></i></li>
      </ul>
    </div>
  </footer>
