  <footer>
    <div>
      <ul ul class="list-inline">
        <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#"><i class="fas fa-city"></i></a></li>
        <li><a href="#"><i class="fas fa-heart"></i></a></li>
      </ul>
    </div>
  </footer>
