<div class="form-inline" id="autocomplete">
  <%= form_tag neighbourhood_services_path(@neighbourhood), method: :get %>
</div>
<div>
  <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Ex: Retail or Café do Manuel' %>
  <%= submit_tag "Find a service", class: 'btn btn-primary mt-2 d-none' %>
</div>


  <%#= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Ex: Retail or Café do Manuel', {}, {  onchange: 'this.form.submit();' } %>

