
  <% @neighbourhoods.each do |neighbourhood| %>
    <p><%= link_to "#{neighbourhood.name}", neighbourhood_path(neighbourhood)%></p>
  <% end %>

  <%= simple_form_for @neighbourhood do |f| %>
    <%= f.input :name, collection: @neighbourhoods_names %>
    <%= f.submit %>
  <% end %>



<button id="sweet-alert" class="btn btn-primary">Click me!</button>