<header class="scroll">
  <nav>
    <div class="d-flex flex-direction-row">

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-store"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Retail</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-utensils"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Restaurants</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-landmark "></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Landmarks</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-store"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Retail</p>
        </div>
      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-utensils"></i>
        </div>
        <div class="mt-3" style="font-size: 10px">
          <p>Restaurants</p>
        </div>
      </button>

    </div>
  </nav>
</header>
