<header class="scroll">
  <nav>
    <div class="d-flex flex-direction-row">

       <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-store"></i>
        </div>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-utensils"></i>
        </div>

      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-landmark "></i>
        </div>

      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-store"></i>
        </div>

      </button>

      <button class="btn-category">
        <div class="circle-icon">
          <i class="fas fa-utensils"></i>
        </div>

      </button>

    </div>
  </nav>
</header>


      <%#= link_to neighbourhood_services_path(category: 'retalho'), class: "btn-category circle-icon"  do %>
<!--       <i class="fas fa-store" style="font-size: 30px">
 -->      <%# end %>
