<!-- <div id="navbar" class="nav-container">
  <%# if user_signed_in? %>
    <ul class="nav nav-pills m-3">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-bars" style="font-size: 30px"></i><span class="caret"></span>
        </a>
        <ul class="dropdown-menu p-2">
          <li><%#= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      </li>
    </ul>
  <%# else %>
    <ul class="nav nav-pills m-3">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-bars" style="font-size: 30px"></i><span class="caret"></span>
        </a>
        <ul class="dropdown-menu p-2">
          <li><%#= link_to "Login", new_user_session_path, class: "dropdown-item" %></li>
          <li><%#= link_to "Register", new_user_registration_path, class: "dropdown-item" %></li>
        </ul>
      </li>
    </ul>
  <%# end %>
</div> -->

<nav id="navbar" class="navbar nav-container" data-spy="affix" data-offset-top="60" >
  <ul class="nav nav-pills">
    <li role="presentation" class="dropdown">
          <% if user_signed_in? %>

      <a  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
       <i class="fas fa-bars" style="font-size: 30px"></i>
      </a>
      <ul class="dropdown-menu p-2">
            <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </ul>
    </li>
  </ul>
        <% else %>


      <a  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
       <i class="fas fa-bars" style="font-size: 30px"></i>
      </a>
      <ul class="dropdown-menu p-2">
       <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Register", new_user_registration_path, class: "dropdown-item" %>
      </ul>
    </li>
  </ul>

        <% end %>

<div></div>
</nav>

