<div class="masthead-user">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
          <div class="background-card">
            <h2 class="mt-2 mb-4">About us</h2>



            No Meu Bairro, a project conducted at Le Wagon Lisbon.The creator, Sabrina Bertol joined forces with Luis Rodrigues, Romulo Nesi and Ruben Serrano.
            /or/
            No Meu Bairro dedicated at improving the community by digitally improving neighbourhood life by providing up-to-date information on local events, local businesses and services. The user can also share tips, ideas and contract local service providers based on neighbours' feedback. The app incentivises users in adding local businesses to the list, where they are shown at an interactive map.


            The team consists of Luis Rodrigues, Romulo Nesi, Ruben Serrano, Sabrina Bertol.

            Contacts:

            bertol.sabrina@gmail.com
            romulo.nesi@gmail.com
            ruben.serrano@gmail.com
            luis.rodrigues@gmail




            <%= link_to 'Back', 'javascript:history.back()' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

