 <div class="card-container">
	<img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
	<h3><%= current_user.name %></h3>
	<h6><% current_user.neighbourhood %></h6>
	<p>User interface designer and <br/> front-end developer</p>
	<div class="buttons mb-2">
		<button class="primary">
			New Post
		</button>

	</div>
</div>
    
    
 
