<div class="container mt-2">  
	<div class="favourites">
		<div>
			<i class='fa fa-heart'> <h6>Favourites:</h6> 
		</div>
		  <div class="notification">
		    <% if @favourites.present? %>
	       	<% @favourites.each do |favourite| %>
	       	<% favourites %> 			
	      <!-- < else %> -->
	        <!-- <p> You don't have any favourites. </p> -->
			  <% end %>
			</div>
		</div>


		<div class="center-buttons">
      <%= link_to 'Back', 'javascript:history.back()' %>
    </div>
	</div>
</div>



