.btn {
  border-radius: 28px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 150px;
  width: auto;
  height: 40px;
}

.btn-maplist {
  width: auto;
  max-width: 300px;
  height: 28px;
  color: #F6830F;
  background-color: white;
  border-radius: 28px;
  margin: 20px;
  border: solid 1px #F6830F;
}

.btn-block {
  border-radius: 28px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
}

.btn-outline-primary {
  color: #F6830F;
  border-style: solid;
  border-color: #F6830F;
  background-color: white;
}

.btn-outline-danger {
  color: #BB2205;
  border-style: solid;
  border-color: #BB2205;
  background-color: white;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #F6830F;
}

.btn-outline-danger:hover {
  color: white;
  background-color: #BB2205;
}

.btn-category {
  height: 80px;
  width: 80px;
  color: #F6830F;
  background-color: white;
  text-align: center;
  margin: 24px;
  margin-right: 0;
  margin-left: 24px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle-icon {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #F6830F;
}


.button-profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  color: #858585;
  background-color: white;
  text-align: center;
  font-size: 14px;
  padding: 30px;
  padding-top: 54px;
}

.button-profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: white;
  color: #858585;
  text-align: center;
  font-size: 14px;
  padding: 30px;
  padding-top: 54px;
}

.center-buttons{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.scroll {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ }

/* [5] */
.scroll::-webkit-scrollbar {
  display: none; }



.fa-star {
  float: left;
  font-size: 100%;
  margin-top: 5px;
  margin-right: 5px;
}

.favorite { color: #FAB703; }


