.btn {
  border-radius: 28px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-outline-primary {
  color: #F6830F;
  border-style: solid;
  border-color: #F6830F;
  background-color: white;
}
