.background-card {
  background-color: white;
  background-size: cover;
  background-position: center;
  padding: 30px;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
