html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   padding:10px;
}

#body {
   padding:10px;
   padding-bottom:70px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Height of the footer */
}

body h1 {
  font-family:"Poppins", "sans-serif";
  font-weight: 800;
}
