@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 75%), url("https://res.cloudinary.com/dyndl1bic/image/upload/v1605724028/pqf4tq5v14mb4x34ij90vzgymipq.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.masthead-user {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 3rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 75%), url("https://res.cloudinary.com/dyndl1bic/image/upload/v1605724028/pqf4tq5v14mb4x34ij90vzgymipq.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 2.5rem;
  background: white;
  letter-spacing: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.masthead h2 {
  font-family: 'Raleway', sans-serif;
  max-width: 20rem;
  font-size: 2rem;
}

.masthead h3 {
  font-family: 'Poppins', sans-serif;
  max-width: 20rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}


