.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-container{
    width: auto;
    height: 80px;
    background: transparent;
    border: solid 2px none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar{
    position: relative;
    margin: auto;
 }
