#navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height:60px;
  z-index: 9999;
}

.navbar {
  justify-content: space-between;
  background: white;
  width: 100%;
  height: 60px;
}

