.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
}

.notification-content {
  flex-grow: 1;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  flex: right;
}

.notification small {
  color: #999999;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.newpost {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.postmessage {
  padding-bottom: 3px;
  border-bottom: 1px dotted black;
}

.titlemessage {
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

.small_text {
  font-size: 12px;
  font-weight: bold;
}

.backgroundwhite {
  background: white;
}

.username {
  font-size: 10px;
  font-weight: bold;
  color: black;
}
